html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Roboto', sans-serif;
}

p, span {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 28px;
}

h2 {
    color: #000000;
    font-size: 22px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
}

button {
    background-color: #7ab829;
    cursor: pointer;
    color: #fff;
}

button:hover {
    background-color: #6ea22c;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333333;
}

::-ms-input-placeholder {
    color: #333333;
}

.btn-verde {
    width: 95%;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: 2;
}

.btn-verde:hover {
    background-color: #00ad47;
    color: #fff;
    text-decoration: none;
}
