html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 28px;
}

h2 {
    color: #000000;
    font-size: 22px;
}

.pedido-texto {
    color: black !important;
}

.input-group {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.forma-pagamento, .total-pagamento {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.input-forma-pagamento {
    max-width: 300px;
}

.cliente-info, .btn-close {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}

#buscar-produto {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    border-color: #7ab829;
    outline: none;
    box-shadow: 0 0 5px rgba(122, 184, 41, 0.5);
}

button:hover {
    background-color: #6ea22c;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

.btn-verde, .btn-primary {
    padding: 10px 20px;
    color: #fff;
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn-verde:hover {
    background-color: #00ad47;
}

.card {
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-produto {
    background-color: #f8f9fa;
    color: #333;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-produto:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    color: darkgreen;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.col-md-4 {
    flex: 1;
    max-width: calc(33.333% - 15px);
    min-width: 300px;
}

.btn-sm {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
}

.form-control {
    font-size: 1.1rem;
    font-weight: normal;
}

.w-25 {
    width: 60px !important;
}

#cliente-info {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}
