/* Ajuste do contêiner principal */
.container {
    max-width: 95%;
    margin: auto;
    padding-bottom: 10px;
}

/* Cabeçalho da página */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A2C2A;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

/* Informações do cliente e logout */
.cliente-info-header {
    display: flex;
    align-items: center;
}

.btn-sair {
    background-color: #D9534F;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9em;
}

/* Ajuste da forma de pagamento e valor total */
.forma-pagamento {
    display: flex;
    align-items: center;
    gap: 15px;
}

.forma-pagamento label {
    font-weight: bold;
    font-size: 0.85em; /* Fonte pequena */
}

/* Ajuste da seção de produtos */
.overflow-auto {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #1a202c; /* Borda pequena para organização */
    max-height: calc(100vh - 450px); /* Reduzido para garantir que o botão seja visível */
    overflow-y: auto;
    padding: 10px;
}

/* Cartão de produto */
.card {
    border: 1px solid #d3d3d3; /* Borda pequena para as divs dos produtos */
    border-radius: 10px;
}

/* Botão de enviar pedido */
.form-group.mt-4 {
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    position: sticky;
    bottom: 0;
    border: 1px solid #d3d3d3; /* Borda pequena para a organização */
}

/* Estilo do botão Enviar Pedido */
.btn-primary {
    background-color: #5A3D3A;
    border: none;
}
